
body {
  border:           1px dotted gray;
  background-color: green;
  margin-top:       5%;
  margin-bottom:    5%;
  margin-left:      10%;
  margin-right:     10%;
  padding:          10px 10px 10px 10px;
}

table {
  border:           1px solid #909090;
  padding:          5px 5px 2px;
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  border-collapse:  collapse;
}

td, th {
  padding:          5px;
  text-align:       left;
  border:           thin dotted gray;
}
