{% extends "base.html" %}

{% block title %}
    Контакты
{% endblock %}

{% block main %}
    <h1>Отправить нам сообщение</h1>
    <form method="post">
        <input type="text" name="title" placeholder="Заголовок">
        <input type="text" name="text" placeholder="Текст сообщения">
        <input type="email" name="email" placeholder="email">
		<button type="submit">Отправить</button>
    </form>
     <h3>Отправленное сообщение: {{message}}</h3>

    {% include 'nav.html' %}

{% endblock %}
